/**
* Roboto
*/

@font-face {
  font-family: 'Roboto Regular', sans-serif;
  src: url('./../fonts/Roboto/Roboto-Regular.ttf')  format('truetype')
}
@font-face {
  font-family: 'Roboto Light', sans-serif;
  src: url('./../fonts/Roboto/Roboto-Light.ttf')  format('truetype')
}
@font-face {
  font-family: 'Roboto Medium', sans-serif;
  src: url('./../fonts/Roboto/Roboto-Medium.ttf')  format('truetype')
}
@font-face {
  font-family: 'Roboto Bold', sans-serif;
  src: url('./../fonts/Roboto/Roboto-Bold.ttf')  format('truetype')
}

/**
* Montserrat
*/

@font-face {
  font-family: 'Montserrat Regular', sans-serif;
  src: url('./../fonts/Montserrat/Montserrat-Regular.ttf')  format('truetype')
}
@font-face {
  font-family: 'Montserrat Medium', sans-serif;
  src: url('./../fonts/Montserrat/Montserrat-Medium.ttf')  format('truetype')
}
@font-face {
  font-family: 'Montserrat Thin', sans-serif;
  src: url('./../fonts/Montserrat/Montserrat-Thin.ttf')  format('truetype')
}
