html, body {
  margin: 0;
  font-family: $font-roboto-reg;
  background-color: $white;
  font-size: 14px;
  color: $black;
  outline: none;
}

.product-wrapper {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1100px;
  position: relative;
  margin: 60px auto;
  &__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
    #image {
      background-image: url("./../img/default.png");
      margin-right: 30px;
      background-position: 50% 50%;
      position: relative;
      width: 90em;
      overflow: hidden;
      cursor: zoom-in;
      img {
        transition: opacity .5s;
        display: block;
        width: 100%;
        &:hover {
          opacity: 0;
        }
      }
    }
    .details {
      h1 {
        font-family: $font-mon-thin;
        font-size: 18px;
        color: $black;
        text-transform: uppercase;
        margin: 0 0 30px;
      }
      .price {
        font-family: $font-mon-reg;
        font-size: 12px;
        color: $text-grey;
        letter-spacing: 2px;
        margin-bottom: 30px;
        sup {
          top: -0.35em;
          font-size: 20px;
        }
        span {
          font-size: 30px;
        }
        .old {
          position: relative;
          margin-right: 20px;
          &:before {
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            width: 100%;
            height: 1px;
            background-color: $text-grey;
            content: '';
          }
        }
      }
      .info {
        margin-bottom: 60px;
        p {
          font-family: $font-mon-reg;
          text-transform: uppercase;
          font-size: 13px;
          span {
            font-family: $font-roboto-reg;
            text-transform: none;
            font-size: 15px;
            color: $text-grey;
          }
          a {
            color: $link-color;
            text-transform: none;
            outline: none;
            font-family: $font-roboto-reg;
            text-decoration: none;
            font-size: 15px;
            @include transition(.2s);
            &:hover {
              color: darken($link-color, 10%);
              @include transition(.2s);
            }
          }
        }
      }
      .text {
        color: $text-grey;
        font-size: 15px;
        line-height: 1.5;
        margin-bottom: 60px;
        ul {
          margin-top: -5px;
          margin-left: -20px;
        }
      }
      .buttons {
        button {
          cursor: pointer;
          padding: 15px 30px;
          font-family: $font-mon-reg;
          font-size: 13px;
          text-transform: uppercase;
          letter-spacing: 2px;
          border: 2px solid $border-grey;
          background-color: transparent;
          @include transition(.2s);
          &:first-child {
            border: 2px solid transparent;
            background-color: $link-color;
            color: $white;
            margin-right: 20px;
            &:hover {
              background-color: $black;
              @include transition(.2s);
            }
          }
          &:hover {
            background-color: $link-color;
            color: $white;
            border: 2px solid transparent;
            @include transition(.2s);
          }
        }
      }
    }
  }
  &__tabsBlock {
    background-color: $light-grey;
    .tabs {
      padding: 0;
      margin: 0 auto;
      > section {
        display: none;
        padding: 15px;
        background: $white;
        > h2 {
          font-family: $font-mon-thin;
          font-size: 13px;
          text-transform: uppercase;
        }
        > p {
          margin: 0 0 20px;
          line-height: 1.5;
          color: $text-grey;
          -webkit-animation-duration: 1s;
          animation-duration: 1s;
          -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
          -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
          &:last-child {
            margin: 0;
          }
        }
      }
      > input {
        display: none;
        position: absolute;
      }
      > label {
        font-family: $font-mon-reg;
        text-transform: uppercase;
        display: inline-block;
        margin: 0 0 -1px;
        padding: 15px 25px;
        text-align: center;
        color: $black;
        @include transition(.2s);
        &:hover {
          color: $white;
          background-color: $text-grey;
          cursor: pointer;
          @include transition(.2s);
        }
      }
      > input:checked + label {
        color: $white;
        background: $black;
      }
      #tab1:checked ~ #content-tab1,
      #tab2:checked ~ #content-tab2,
      #tab3:checked ~ #content-tab3,
      #tab4:checked ~ #content-tab4,
      #tab5:checked ~ #content-tab5 {
        display: block;
      }
    }
  }
}
