@media screen and (max-width: 1280px) {
  .buttons {
    margin-top: -20px;
    button {
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 992px) {
  .product-wrapper {
    max-width: 960px;
    margin: 20px auto 10px auto;
    &__content {
      #image {
        background-image: none;
        pointer-events: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .product-wrapper {
    max-width: 720px;
    &__tabsBlock {
      .tabs > label {
        display: flex;
      }
      .tabs > label:before {
        margin: 0;
        font-size: 18px;
      }
    }
  }
  .buttons {
    left: 15px;
    margin-top: -105px;
    position: absolute;
    display: flex;
    flex-direction: column;
    button {
      &:first-child {
        margin-right: 0 !important;
        margin-bottom: 10px;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .product-wrapper {
    max-width: 540px;
    &__content {
      flex-direction: column-reverse;
      #image {
        max-width: 310px;
        margin: 0 auto;
      }
      .details {
        h1 {
          margin-bottom: 10px;
        }
        .price {
          margin-bottom: 10px;
        }
        .info {
          margin-bottom: 10px;
        }
      }
      .buttons {
        left: 15px;
        margin-top: -40px;
        position: inherit;
        display: flex;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .product-wrapper__tabsBlock {
    .tabs {
      > label {
        padding: 15px;
      }
    }
  }
}
