$font-roboto-reg: 'Roboto Regular', sans-serif;
$font-roboto-light: 'Roboto Light', sans-serif;
$font-roboto-med: 'Roboto Medium', sans-serif;
$font-roboto-bold: 'Roboto Bold', sans-serif;
$font-mon-reg: 'Montserrat Regular', sans-serif;
$font-mon-med: 'Montserrat Medium', sans-serif;
$font-mon-thin: 'Montserrat Thin', sans-serif;

/***    colors     ***/
$white: #ffffff;
$black: #333333;
$link-color: #00c8c8;
$light-grey: #f8f8f8;
$text-grey: #9a9a9a;
$border-grey: #737373;
